:root {
    --highlight-color: #b7cd19;

    --primary-color: #000;
    --secondary-color: #646464;
    --tertiary-color: #c6c6c6;

    --dark-color: #3f3f3f;
    --light-color: #fff;

    --section-color: #f5f5f5;

    --border-color: #dddddd;

    --border-radius: 3px;

    --font: "Barlow", sans-serif;
    --font2: "Montserrat", sans-serif;
}
  