.footer {
    background-color: var(--dark-color);
    padding: 5rem 0 3rem;
    @include media("md") {
        padding: 4rem 0 3rem;
    }
    &-item {
        &-header {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;
            @include media("md") {
                justify-content: center;
                margin-bottom: 1rem;
            }
            & > div:first-child {
                width: 2.25rem;
                @include media("md") {
                    width: auto;
                    margin-right: .5rem;
                }
            }
            svg {
                &, path {
                    fill: var(--light-color);
                }
            }
            h3 {
                color: var(--light-color);
                font-size: 16px;
                letter-spacing: 2px;
                line-height: 30px;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 0;
            }
        }
        &-content {
            margin-left: 2.25rem;
            @include media("md") {
                margin-left: 0;
                text-align: center;
            }
        }
    }
    &-menu, .section-output {
        a, p {
            color: var(--light-color);
            font-size: 17px;
            line-height: 29px;
            font-weight: 400;
        }    
    }
    &-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            a {
                text-decoration: none;
                &:hover {
                    color: var(--highlight-color);
                }
            }
        }
    }
    &-contact {
        margin-top: 2.5rem;
        a {
            display: block;
            &:hover {
                text-decoration: none;
            }
        }
        &-phone {
            font-size: 30px;
            font-weight: 500;
            color: var(--light-color);
        }
        &-email {
            font-size: 20px;
            font-weight: 500;
            color: var(--light-color);
        }
    }
}