.copyright {
    padding-top: 4rem;
    @media (max-width: $md) {
        padding-top: 2.5rem;
    }
    p {
        &, a {
            color: var(--tertiary-color);
        }
        opacity: .5;
        margin-bottom: 0;
        text-align: center;
    }
}